In [20]:
from pandas import Series, DataFrame
import pandas as pd
import numpy as np
import glob

path = "Flight data/*_2016.csv"
frame=pd.DataFrame()
df_list=[]
airdata = pd.read_csv("Flight data/Airline_LOV.csv", sep=',')[["AIRLINE_ID", "CARRIER_NAME"]]

for fname in glob.glob(path):    
    df=pd.read_csv(fname,index_col=None, header=0)
    df_list.append(df)
frame = pd.concat(df_list)
frame.AIRLINE_ID.count()

1839391

In [29]:
#To get distance covered by each Airline
df2=DataFrame(frame.groupby('AIRLINE_ID')['DISTANCE'].sum())
df2.reset_index()

    AIRLINE_ID     DISTANCE
0        19393  319073001.0
1        19690   15745250.0
2        19790  251721268.0
3        19805  294961484.0
4        19930   69454554.0
5        19977  223499219.0
6        20304   97489507.0
7        20366   68433500.0
8        20409   97669434.0
9        20416   45985453.0
10       20436   35533537.0
11       21171   33869448.0

In [30]:
financedata = pd.read_csv("Flight data/Financial data.csv",sep=',')
df4 = DataFrame(financedata[financedata.apply(lambda x: x['QUARTER'] == 3, axis = 1)])
df4 = DataFrame(df4.groupby(["AIRLINE_ID", "CARRIER_NAME"])["NET_INCOME"].sum())
# df1=pd.merge(df1, df2, on="AIRLINE_ID", how='left')
# df1=df1.groupby(["AIRLINE_ID","CARRIER_NAME"])["DISTANCE"].sum()
# #df1=df.groupby(["AIRLINE_ID","ORIGIN_CITY_NAME","DEST_CITY_NAME"])["AIRLINE_ID"].count()
# df1 
df4.reset_index()

    AIRLINE_ID                                       CARRIER_NAME  NET_INCOME
0        19393                             Southwest Airlines Co.   388246.00
1        19687                                        Horizon Air     5505.00
2        19690                             Hawaiian Airlines Inc.   103518.36
3        19790                               Delta Air Lines Inc.  1269304.00
4        19805                             American Airlines Inc.   758110.72
5        19874                        Air Transport International    -5741.97
6        19917                              United Parcel Service    43855.33
7        19930                               Alaska Airlines Inc.   265253.00
8        19977                              United Air Lines Inc.   965010.33
9        20007                                     Atlas Air Inc.   -21246.32
10       20046                        Air Wisconsin Airlines Corp      424.33
11       20100                            Polar Air Cargo Airways        0.00
12       20107                        Federal Express Corporation   361857.00
13       20108                            Northern Air Cargo Inc.     2398.00
14       20149                         Florida West Airlines Inc.     -609.33
15       20151                             Amerijet International    -1974.42
16       20166                           Gulf And Caribbean Cargo      923.83
17       20169                          Lynden Air Cargo Airlines     4258.02
18       20177                                       Asia Pacific      326.61
19       20190                                  Southern Air Inc.     5126.28
20       20287                                  Island Air Hawaii    -2133.63
21       20304                              SkyWest Airlines Inc.    37182.00
22       20308                               Centurion Cargo Inc.   -10650.15
23       20363                                  Endeavor Air Inc.    -9230.95
24       20366                           ExpressJet Airlines Inc.    -1424.76
25       20368                                      Allegiant Air    69323.53
26       20370                                    Kalitta Air LLC     6633.85
27       20372                                Kalitta Charters II     2063.81
28       20377                                   Omni Air Express     7624.83
29       20378                                 Mesa Airlines Inc.    17783.62
30       20397                                  PSA Airlines Inc.    -3867.04
31       20398                                          Envoy Air    10188.78
32       20402                            Miami Air International     -651.09
33       20405  National Air Cargo Group Inc d/ba National Air...    -5319.42
34       20408  Tatonduk Outfitters Limited d/b/a Everts Air A...     1385.73
35       20409                                    JetBlue Airways   198980.16
36       20416                                   Spirit Air Lines    95888.46
37       20422             Sun Country Airlines d/b/a MN Airlines    -5801.83
38       20436                             Frontier Airlines Inc.    78945.10
39       20447                              USA Jet Airlines Inc.     8976.51
40       20448                              Shuttle America Corp.   -96110.08
41       20452                                  Republic Airlines  -362696.19
42       20453                                        ABX Air Inc    -3209.66
43       20500            GoJet Airlines LLC d/b/a United Express    -8647.24
44       21161                                     Swift Air, LLC     1332.99
45       21167                                   Compass Airlines    -2122.49
46       21171                                     Virgin America    51798.00
47       21352                                  Avjet Corporation      513.13
48       21492                               Dynamic Airways, LLC   -12584.00
49       21634                                    Aloha Air Cargo      279.83
50       21650                        Eastern Airlines Group Inc.    -2532.15
51       21652                 Jet Aviation Flight Services, Inc.      901.87

In [31]:
df3 = df2.merge(df4, how = 'left', left_index = True, right_index=True)
df3['INCOME_PER_MILE'] = df3['NET_INCOME']/df3['DISTANCE']
df3

                                        DISTANCE  NET_INCOME  INCOME_PER_MILE
AIRLINE_ID CARRIER_NAME
19393      Southwest Airlines Co.    319073001.0   388246.00         0.001217
19690      Hawaiian Airlines Inc.     15745250.0   103518.36         0.006575
19790      Delta Air Lines Inc.      251721268.0  1269304.00         0.005042
19805      American Airlines Inc.    294961484.0   758110.72         0.002570
19930      Alaska Airlines Inc.       69454554.0   265253.00         0.003819
19977      United Air Lines Inc.     223499219.0   965010.33         0.004318
20304      SkyWest Airlines Inc.      97489507.0    37182.00         0.000381
20366      ExpressJet Airlines Inc.   68433500.0    -1424.76        -0.000021
20409      JetBlue Airways            97669434.0   198980.16         0.002037
20416      Spirit Air Lines           45985453.0    95888.46         0.002085
20436      Frontier Airlines Inc.     35533537.0    78945.10         0.002222
21171      Virgin America             33869448.0    51798.00         0.001529