In [17]:
from pandas import Series, DataFrame
import pandas as pd
import numpy as np
import glob

path = "Flight data/*_2016.csv"
frame=pd.DataFrame()
df_list=[]
airdata = pd.read_csv("Flight data/Airline_LOV.csv", sep=',')[["AIRLINE_ID", "CARRIER_NAME"]]

for fname in glob.glob(path):    
    df=pd.read_csv(fname,index_col=None, header=0)
    df_list.append(df)
frame = pd.concat(df_list)
frame.AIRLINE_ID.count()

1839391

In [18]:
#To get distance covered by each Airline
df2 = DataFrame(frame.groupby(['AIRLINE_ID', 'ORIGIN_CITY_NAME', 'DEST_CITY_NAME'])['DISTANCE'].sum())
df2.head(n=25).reset_index()

    AIRLINE_ID ORIGIN_CITY_NAME       DEST_CITY_NAME  DISTANCE
0        19393        Akron, OH          Atlanta, GA  183744.0
1        19393        Akron, OH          Orlando, FL   15498.0
2        19393       Albany, NY        Baltimore, MD  190740.0
3        19393       Albany, NY          Chicago, IL  172797.0
4        19393       Albany, NY  Fort Lauderdale, FL   80668.0
5        19393       Albany, NY        Las Vegas, NV  272914.0
6        19393       Albany, NY          Orlando, FL  207089.0
7        19393       Albany, NY            Tampa, FL  141250.0
8        19393  Albuquerque, NM           Austin, TX   10523.0
9        19393  Albuquerque, NM        Baltimore, MD  317300.0
10       19393  Albuquerque, NM          Chicago, IL  283613.0
11       19393  Albuquerque, NM           Dallas, TX  332920.0
12       19393  Albuquerque, NM           Denver, CO  117962.0
13       19393  Albuquerque, NM          Houston, TX  273240.0
14       19393  Albuquerque, NM      Kansas City, MO   84006.0
15       19393  Albuquerque, NM        Las Vegas, NV  228906.0
16       19393  Albuquerque, NM      Los Angeles, CA  173989.0
17       19393  Albuquerque, NM          Oakland, CA  285369.0
18       19393  Albuquerque, NM          Phoenix, AZ  219432.0
19       19393  Albuquerque, NM         Portland, OR  118877.0
20       19393  Albuquerque, NM        San Diego, CA  142556.0
21       19393     Amarillo, TX           Dallas, TX  146319.0
22       19393     Amarillo, TX        Las Vegas, NV   92476.0
23       19393      Atlanta, GA            Akron, OH  183744.0
24       19393      Atlanta, GA           Austin, TX  192681.0

In [19]:
financedata = pd.read_csv("Flight data/Financial data.csv",sep=',')
df4 = DataFrame(financedata[financedata.apply(lambda x: x['QUARTER'] == 3, axis = 1)])
df4 = DataFrame(df4.groupby(["AIRLINE_ID", "CARRIER_NAME"])["NET_INCOME"].sum())
# df1=pd.merge(df1, df2, on="AIRLINE_ID", how='left')
# df1=df1.groupby(["AIRLINE_ID","CARRIER_NAME"])["DISTANCE"].sum()
# #df1=df.groupby(["AIRLINE_ID","ORIGIN_CITY_NAME","DEST_CITY_NAME"])["AIRLINE_ID"].count()
# df1 
df4

                                                               NET_INCOME
AIRLINE_ID CARRIER_NAME
19393      Southwest Airlines Co.                               388246.00
19687      Horizon Air                                            5505.00
19690      Hawaiian Airlines Inc.                               103518.36
19790      Delta Air Lines Inc.                                1269304.00
19805      American Airlines Inc.                               758110.72
19874      Air Transport International                           -5741.97
19917      United Parcel Service                                 43855.33
19930      Alaska Airlines Inc.                                 265253.00
19977      United Air Lines Inc.                                965010.33
20007      Atlas Air Inc.                                       -21246.32
20046      Air Wisconsin Airlines Corp                             424.33
20100      Polar Air Cargo Airways                                   0.00
20107      Federal Express Corporation                          361857.00
20108      Northern Air Cargo Inc.                                2398.00
20149      Florida West Airlines Inc.                             -609.33
20151      Amerijet International                                -1974.42
20166      Gulf And Caribbean Cargo                                923.83
20169      Lynden Air Cargo Airlines                              4258.02
20177      Asia Pacific                                            326.61
20190      Southern Air Inc.                                      5126.28
20287      Island Air Hawaii                                     -2133.63
20304      SkyWest Airlines Inc.                                 37182.00
20308      Centurion Cargo Inc.                                 -10650.15
20363      Endeavor Air Inc.                                     -9230.95
20366      ExpressJet Airlines Inc.                              -1424.76
20368      Allegiant Air                                         69323.53
20370      Kalitta Air LLC                                        6633.85
20372      Kalitta Charters II                                    2063.81
20377      Omni Air Express                                       7624.83
20378      Mesa Airlines Inc.                                    17783.62
20397      PSA Airlines Inc.                                     -3867.04
20398      Envoy Air                                             10188.78
20402      Miami Air International                                -651.09
20405      National Air Cargo Group Inc d/ba National Airline    -5319.42
20408      Tatonduk Outfitters Limited d/b/a Everts Air Alask     1385.73
20409      JetBlue Airways                                      198980.16
20416      Spirit Air Lines                                      95888.46
20422      Sun Country Airlines d/b/a MN Airlines                -5801.83
20436      Frontier Airlines Inc.                                78945.10
20447      USA Jet Airlines Inc.                                  8976.51
20448      Shuttle America Corp.                                -96110.08
20452      Republic Airlines                                   -362696.19
20453      ABX Air Inc                                           -3209.66
20500      GoJet Airlines LLC d/b/a United Express               -8647.24
21161      Swift Air, LLC                                         1332.99
21167      Compass Airlines                                      -2122.49
21171      Virgin America                                        51798.00
21352      Avjet Corporation                                       513.13
21492      Dynamic Airways, LLC                                 -12584.00
21634      Aloha Air Cargo                                         279.83
21650      Eastern Airlines Group Inc.                           -2532.15
21652      Jet Aviation Flight Services, Inc.                      901.87

In [20]:
df3 = df2.merge(df4, how = 'left', left_index = True, right_index=True)
df3['INCOME_PER_MILE'] = df3['NET_INCOME']/df3['DISTANCE']
df3

NotImplementedError: merging with both multi-indexes is not implemented