In [17]:
from pandas import Series, DataFrame
import pandas as pd
import numpy as np
import glob

pdata = pd.read_csv("Flight data/Passenger data.csv", sep=',')[["PASSENGERS", "AIRLINE_ID", "CARRIER_NAME", "ORIGIN_CITY_NAME", "DEST_CITY_NAME","MONTH"]]

# df1 = DataFrame(pdata.groupby(["AIRLINE_ID", "CARRIER_NAME","ORIGIN_CITY_NAME", "DEST_CITY_NAME"])["PASSENGERS"].count())
df1 = DataFrame(pdata.groupby(["AIRLINE_ID", "CARRIER_NAME"])["PASSENGERS"].sum())
# df1.to_csv("passengers.csv")
df1.sort_values(by='PASSENGERS', ascending=False).head(n=25).reset_index()

    AIRLINE_ID                             CARRIER_NAME   PASSENGERS
0        19393                   Southwest Airlines Co.  148878754.0
1        19790                     Delta Air Lines Inc.  119168590.0
2        19805                   American Airlines Inc.  116702019.0
3        19977                    United Air Lines Inc.   73916601.0
4        20409                          JetBlue Airways   31238983.0
5        20304                    SkyWest Airlines Inc.   29101892.0
6        19930                     Alaska Airlines Inc.   22642716.0
7        20366                 ExpressJet Airlines Inc.   20571842.0
8        20416                         Spirit Air Lines   19183049.0
9        20436                   Frontier Airlines Inc.   14105325.0
10       20378                       Mesa Airlines Inc.   11654201.0
11       20397                        PSA Airlines Inc.   11601899.0
12       20398                                Envoy Air   11225700.0
13       20368                            Allegiant Air   11144316.0
14       20452                        Republic Airlines   10622406.0
15       20363                        Endeavor Air Inc.   10121151.0
16       19690                   Hawaiian Airlines Inc.    9796175.0
17       21171                           Virgin America    7858125.0
18       19687                              Horizon Air    7120550.0
19       21167                         Compass Airlines    5869905.0
20       20046              Air Wisconsin Airlines Corp    4917270.0
21       20500  GoJet Airlines LLC d/b/a United Express    4525848.0
22       20448                    Shuttle America Corp.    4356393.0
23       20237                    Trans States Airlines    3047844.0
24       20427                        Piedmont Airlines    2714814.0

In [18]:
fdata = pd.read_csv("Flight data/Financial data.csv", sep=',')
df2 = DataFrame(fdata.groupby(["AIRLINE_ID", "CARRIER_NAME"])["NET_INCOME"].sum())
# df2.to_csv("income.csv")
df2.sort_values(by='NET_INCOME', ascending=False).head(n=20).reset_index()

    AIRLINE_ID                            CARRIER_NAME  NET_INCOME
0        19790                    Delta Air Lines Inc.  3776999.00
1        19805                  American Airlines Inc.  2440628.93
2        19977                   United Air Lines Inc.  1866994.37
3        19393                  Southwest Airlines Co.  1719647.00
4        20107             Federal Express Corporation  1254113.00
5        19930                    Alaska Airlines Inc.   714400.00
6        20409                         JetBlue Airways   578608.60
7        20368                           Allegiant Air   275369.30
8        20416                        Spirit Air Lines   249581.73
9        20436                  Frontier Airlines Inc.   169898.19
10       20304                   SkyWest Airlines Inc.   108074.00
11       21171                          Virgin America   107356.28
12       19690                  Hawaiian Airlines Inc.   103518.36
13       19917                   United Parcel Service    95618.85
14       20378                      Mesa Airlines Inc.    32620.96
15       20422  Sun Country Airlines d/b/a MN Airlines    25064.89
16       20377                        Omni Air Express    20230.20
17       20398                               Envoy Air    13553.57
18       20447                   USA Jet Airlines Inc.    10828.79
19       20190                       Southern Air Inc.     9891.55

In [20]:
avgfare = df1.merge(df2, how = 'inner', left_index = True, right_index=True)
avgfare = avgfare[avgfare.PASSENGERS != 0]
avgfare['AVERAGE_FARE'] = avgfare['PASSENGERS']/avgfare['NET_INCOME']
avgfare.reset_index()

,AIRLINE_ID,CARRIER_NAME,PASSENGERS,NET_INCOME,AVERAGE_FARE
0,19393,Southwest Airlines Co.,148878754.0,1719647.00,86.575183
1,19687,Horizon Air,7120550.0,8713.00,817.232870
2,19690,Hawaiian Airlines Inc.,9796175.0,103518.36,94.632247
3,19790,Delta Air Lines Inc.,119168590.0,3776999.00,31.551131
4,19805,American Airlines Inc.,116702019.0,2440628.93,47.816371
5,19930,Alaska Airlines Inc.,22642716.0,714400.00,31.694731
6,19977,United Air Lines Inc.,73916601.0,1866994.37,39.591229
7,20007,Atlas Air Inc.,10737.0,-37021.33,-0.290022
8,20046,Air Wisconsin Airlines Corp,4917270.0,-1178.39,-4172.871460
9,20287,Island Air Hawaii,474574.0,-11467.55,-41.384079
10,20304,SkyWest Airlines Inc.,29101892.0,108074.00,269.277458
11,20363,Endeavor Air Inc.,10121151.0,-33347.95,-303.501445
12,20366,ExpressJet Airlines Inc.,20571842.0,-13648.61,-1507.248137
13,20368,Allegiant Air,11144316.0,275369.30,40.470437
14,20377,Omni Air Express,67041.0,20230.20,3.313907
15,20378,Mesa Airlines Inc.,11654201.0,32620.96,357.261129
16,20397,PSA Airlines Inc.,11601899.0,-798.28,-14533.621035
17,20398,Envoy Air,11225700.0,13553.57,828.246728
18,20402,Miami Air International,104506.0,396.02,263.890713
19,20409,JetBlue Airways,31238983.0,578608.60,53.989835
20,20416,Spirit Air Lines,19183049.0,249581.73,76.860790
21,20422,Sun Country Airlines d/b/a MN Airlines,2101729.0,25064.89,83.851515
22,20436,Frontier Airlines Inc.,14105325.0,169898.19,83.022221
23,20448,Shuttle America Corp.,4356393.0,-339862.62,-12.818100
24,20452,Republic Airlines,10622406.0,-372098.02,-28.547333
25,20500,GoJet Airlines LLC d/b/a United Express,4525848.0,-25852.69,-175.062943
26,21161,"Swift Air, LLC",133909.0,5141.61,26.044177
27,21167,Compass Airlines,5869905.0,2208.43,2657.953841
28,21171,Virgin America,7858125.0,107356.28,73.196696
29,21352,Avjet Corporation,4085.0,-3552.54,-1.149881
30,21492,"Dynamic Airways, LLC",2066.0,-14716.69,-0.140385
31,21650,Eastern Airlines Group Inc.,36853.0,-8343.00,-4.417236
32,21652,"Jet Aviation Flight Services, Inc.",2320.0,5587.80,0.415190

In [5]:
df2.head(n=20)
userinput=input("Enter a airline you want to see consolidated results")

Enter a airline you want to see consolidated resultsAmerican Airlines